<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html lang="ja">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=Shift_JIS">
<title><#Title></title>
<link rel="stylesheet" href="<#CSSPath>/<#CSSFile>" type="text/css">
<base href="<#DocumentPath>">
</head>
<body>
<h1><#Title></h1>

<div class="body">
<div class="main">
<#Main>
</div>
<div class="menubar">
<#Contents>
<#Menubar>
</div>
</div>

</body>
</html>
